@import '../../../../styles/variables.scss';

.logo {
  @media(max-width: $tabletWidth) {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media(max-width: 800px) {
    width: 640px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media(max-width: 600px) {
    width: 460px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 380px;
    margin: 0 auto;
    padding: 0 10px;
  }
}