@import '../../../styles/variables.scss';

$heightSelect: 40px;

.selectContainer {
  display: block;

  .closeBackground {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .select {
    position: relative;
    width: max-content;
    z-index: 2;

    .inputSelect {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-color: $blackBackground;
      width: 100%;
      border: none;
      cursor: pointer;
      padding: 14px;
    
      .arrowSvg {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        stroke: white;
        fill: none;
      }

      .arrowSvgOpen {
        transform: translate(0, -50%) rotate(180deg);
      }

      .placeholder {
        color: white;
        font-weight: 900;
        padding-right: 30px;
        font-size: 1.6em;
        line-height: 26px;

        @media(max-width: 1100px) {
          font-size: 1.4em;
        }
      }
    
      &:hover {
        
        .placeholder {
          color: $violet;
        }

        .arrowSvg {
          stroke: $violet;
        }
      }
    }

    .openInput {
      background-color: $black;
    }

    .closeInput {
      animation: close-input 1s forwards;
    }
  
    .dropdown {
      display: block;
      position: absolute;
      background-color: black;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
      right: 0;
      width: 500px;
      left: 0;
      top: 54px;

      @media(max-width: 1100px) {
        width: 400px;
      }
  
      .dropdownList {
        overflow-y: auto;
        max-height: 174px;
  
        .dropdownItem {
          font-size: 1.6em;
          line-height: 22px;
          padding: 18px;
          cursor: pointer;

          &:hover {
            animation: hover-item 0.4s forwards;
          }

          @media(max-width: 1100px) {
            font-size: 1.4em;
            padding: 16px;
          }
        }
  
        .active {
          color: $pink;
        }
  
        &::-webkit-scrollbar  {
          background-color: $black;
          width: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: $black;
          width: 8px;
        }
      }
    }
  }
}

.openSelectContainer {
  z-index: 5;
}

@keyframes hover-item {
  0% {
    background-color: transparent;
  }
  100% {
    color: $violet;
  }
}

@keyframes close-input {
  0% {
    background-color: $black;
  }
  100% {
    color: $blackBackground;
  }
}