@import '../../../styles/variables.scss';

.checkboxLabel {
  margin: 7px 1px 0 0;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.checkboxInput {
  display: none;
}

.fakeCheckbox {
  position: relative;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-color: $beige;
  cursor: pointer;
  transition: 0.04s ease-in;
}

.fakeCheckbox::before {
  width: 0.6em;
  height: 0.6em;
  content: "";
  display: inline-block;
  position: absolute;
  color: red;
  background-image: url("../../../assets/img/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.06s ease-in;
}

.checkboxText {
  max-width: 94%;
  margin: 0;
  margin-left: 0.5em;
  vertical-align: middle;
  color: $beige;
}

.checkboxInput:checked + .fakeCheckbox::before {
	transform: translate(-50%, -50%) scale(1);
}

.checkboxInput:checked + .fakeCheckbox {
	background-color: $pink;
}