@import '../../../styles/variables.scss';


.containerFooter {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 168px);

  @media(max-width: 1440px) {
    min-height: calc(100vh - 145px);
  }

  @media(max-width: $tabletWidth) {
    padding-top: 120px;
    min-height: 100vh;
  }

  .containerTopicsReact {


    .topicsReact {
      position: relative;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1440px;
      color: white;
      margin-bottom: 50px;
      min-height: 575px;
    
      @media(max-width: 1050px) {
        min-height: 564px;
      }
    
      @media(max-width: $tabletWidth) {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 50px;
      }
    
      @media(max-width: 800px) {
        width: 640px;
      }
    
      @media(max-width: 600px) {
        width: 460px;
        min-height: 554px;
      }
    
      @media(max-width: $mobileOnlyWidth) {
        width: 380px;
      }
    
      .title {
        font-size: 40px;
        text-align: center;
        margin-top: 0;
    
        @media(max-width: 1050px) {
          font-size: 34px;
        }
    
        @media(max-width: 600px) {
          font-size: 28px;
        }
      }
    }
  }

  .footer {
    flex: auto
  }
}

.loadingAnimation {
  animation: loading-animation 0.4s forwards;
}

@keyframes loading-animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}