@import '../../../../styles/variables.scss';

.authContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto; 

  @media(min-width: $tabletWidth) {
    display: none;
  }

  @media(max-width: $tabletWidth) {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 110px;
  }

  @media(max-width: 800px) {
    width: 640px;
  }

  @media(max-width: 600px) {
    width: 460px;
    padding-top: 110px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 380px;
    padding: 0 10px;
    padding-top: 110px;
  }
}

.authForm {
  display: flex;
  opacity: 0.9;
  flex-direction: column;
  color: white;
  width: 400px;
  padding: 25px;
  margin: auto;
  border-radius: 10px;

  @media(max-width: $tabletWidth) {
    width: 600px;
  }

  @media(max-width: 800px) {
    width: 100%;
  }

  .title {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;

    @media(max-width: $tabletWidth) {
      margin: 0;
      margin-bottom: 20px;
      font-size: 50px;
    }

    @media(max-width: 600px) {
      font-size: 40px;
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    width: 100%;
  }

  .input {
    margin: 5px 0;
    padding: 5px;
    &::placeholder {
      color: rgba($color: rgb(0, 0, 0), $alpha: 0.6)
    }

    @media(max-width: $tabletWidth) {
      font-size: 40px;
      margin-bottom: 20px;
    }

    @media(max-width: 600px) {
      font-size: 32px;
    }
  }

  .errorText {
    margin: 0;
    margin-left: 10px;
    color: #d50000;
    font-size: 12px;
  }
  .btnContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;

    >a {
        margin: 0 auto;
      &:hover {
        border-bottom: 1px solid white;
      }
    }

    @media(max-width: $tabletWidth) {
      flex-direction: column-reverse;

      >a {
        font-size: 30px;
      }
    }

    @media(max-width: 600px) {
      >a {
        font-size: 26px;
      }
    }
  }

  .btnAuth {
    margin: 0;
    margin-left: auto;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media(max-width: $tabletWidth) {
      width: 100%;
      font-size: 32px;
      height: 60px;
    }

    @media(max-width: 600px) {
      font-size: 28px;
    }

    @media(max-width: $mobileOnlyWidth) {
      font-size: 26px;
    }
  }

  button {
    background-color: transparent;
    border: none;

    &:disabled {
      opacity: 0.6;
    }

    @media(max-width: $tabletWidth) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

label {
  @media(max-width: $tabletWidth) {
    font-size: 36px;
  }

  @media(max-width: 600px) {
    font-size: 30px;
  }
}
