@font-face {
  font-family: 'TT-norms-pro';
  src: local('TT-norms-pro'), url(../assets/font/TTNormsPro-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'TT-norms-pro-bold';
  src: local('TT-norms-pro'), url(../assets/font/TTNormsPro-Bold.woff2) format('woff2');
}