$blackBackground: rgb(20,20,20);
$black: rgb(0,0,0);
$red: rgb(246,108,65);
$pink: rgb(255, 68, 180);
$beige: #F5F5F5;
$violet: #8B4DFF;
$mobileOnlyWidth: 420px;
$tabletWidth: 950px;
$desktopWidth: 1440px;