@import '../../../../styles/variables.scss';

.swiperCard {
  width: 62%;
  height: 560px;

  >div > div {
    height: 560px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 18px;
    row-gap: 20px;
    font-size: 22px;
    font-weight: bold;
    background-color: $beige;
    color: black;

    .img {
      border-radius: 10px;

      @media(max-width: $mobileOnlyWidth) {
        height: 150px;
      }
    }

    .title {
      margin: 0;
      font-size: 26px;
    }

    .description {
      font-size: 22px;
      margin: 0;
      max-height: 150px;

      @media(max-width: $mobileOnlyWidth) {
        font-size: 20px;
      }
    }

    .btnContainer {
      margin-top: auto;

      .btn {
        width: 100%;
        height: 60px;
        font-size: 26px;
      }
    }
  }
}