@import '../../../styles/variables.scss';

.profile {

  .contentContainer {
    width: 100%;
    border-top: 6px solid $black;
    padding-bottom: 40px;

    @media(max-width: 650px) {
      width: 650px;
    }

    @media(max-width: 600px) {
      border-top: none;
      width: 100%;
    }

    @media(max-width: 460px) {
      width: 460px;
    }

    @media(max-width: $mobileOnlyWidth) {
      width: 100%;
    }

    @media(max-width: 380px) {
      width: 380px;
    }
  }
}