@import '../../../styles/variables.scss';

.profile {
  @media(max-width: $tabletWidth) {
    margin-top: 120px;
  }

  .contentContainer {
    width: 100%;
    border-top: 6px solid $black;

    @media(max-width: 650px) {
      width: 650px;
    }

    @media(max-width: 600px) {
      border-top: none;
      width: 100%;
      padding-bottom: 30px;
    }

    @media(max-width: 460px) {
      width: 460px;
    }

    @media(max-width: $mobileOnlyWidth) {
      width: 100%;
    }

    @media(max-width: 380px) {
      width: 380px;
    }
  }
}