@import '../../../../styles/variables.scss';

.profileContent {
  position: relative;
  display: flex;
  margin: 0 auto;
  column-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  color: white;
  margin-bottom: 50px;

  @media(max-width: $tabletWidth) {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  @media(max-width: 800px) {
    width: 640px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  @media(max-width: 600px) {
    flex-direction: column;
    width: 460px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 380px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .containerImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-top: 30px;
    border-right: 6px solid #000000;
    height: 644px;
    @media(max-width: 1050px) {
      padding-right: 20px;
      padding-top: 20px;
    }

    @media(max-width: 800px) {
      height: 690px;
    }

    @media(max-width: 600px) {
      padding: 0;
      border: none;
      height: auto;
    }

    .img {
      border-radius: 10px;
      margin-bottom: 20px;

      @media(max-width: 1050px) {
        width: 220px;
        height: 220px;
      }
    }

    .title {
      font-size: 30px;
      margin: 0;

      @media(max-width: 1050px) {
        font-size: 24px;
      }

      @media(max-width: 800px) {
        margin-bottom: 20px;
      }
    }

    .containerBtn {
      display: none;


      @media(max-width: 800px) {
        display: flex;
        column-gap: 40px;
      }
      .settings {
        display: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
  
        @media(max-width: 800px) {
          display: block;
          width: 64px;
          height: 64px;
          background: url('../../../../assets/img/settings-icon-white.png');
        }
      }
  
      .statistics {
        display: none;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
  
        @media(max-width: 800px) {
          display: block;
          width: 64px;
          height: 64px;
          background: url('../../../../assets/img/statistics-icon-white.png');
        }
      }

      .activeSettings {
        @media(max-width: 800px) {
          background: url('../../../../assets/img/settings-icon-violet.png');
          margin-top: -10px;
        }
      }

      .activeStatistics {
        @media(max-width: 800px) {
          background: url('../../../../assets/img/statistics-icon-violet.png');
          margin-top: -10px;
        }
      }
    }
  }

  .userSettings {
    display: flex;
    padding-top: 60px;
    flex-direction: column;
    row-gap: 40px;

    @media(max-width: 1050px) {
      padding-top: 40px;
    }

    .containerField {
      display: flex;
      align-items: center;

      @media(max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
      }

      >span {
        font-size: 28px;
        width: 170px;

        
        @media(max-width: 1050px) {
          font-size: 24px;
          width: 130px;
        }
        @media(max-width: 800px) {
          margin-bottom: 6px;
        }
      }

      .field {
        width: 400px;

        @media(max-width: 1050px) {
          width: 340px;
        }

        @media(max-width: 800px) {
          width: 300px;
        }

        @media(max-width: 600px) {
          font-size: 24px;
          width: 100%;
        }
      }
    }

    .btn {
      align-self: flex-end;

      @media(max-width: 600px) {
        font-size: 22px;
        width: 100%;
        height: 60px;
      }
    }
  }

  .userStatistics {
    padding-top: 60px;
    width: 60%;
    padding-right: 20px;


    @media(max-width: 1050px) {
      padding-top: 40px;
    }

    @media(max-width: 800px) {
      margin-right: 20px;
      width: 56%;
    }

    @media(max-width: 600px) {
      width: 100%;
    }

    .title {
      text-align: center;
      margin-top: 0;
    }

    .containerStats {
      display: flex;
      column-gap: 40px;
      margin-top: 20px;

      @media(max-width: 800px) {
        flex-direction: column;
        row-gap: 20px;
      }

      .filledTests {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        width: 400px;
        background-color: $black;
        border-radius: 10px;
        padding: 20px;

        @media(max-width: 800px) {
          width: 100%;
        }
  
        >h2 {
          font-size: 24px;
          text-align: center;
          margin: 0;

          @media(max-width: 1050px) {
            font-size: 18px;
          }
        }
  
        >h3 {
          color: $violet;
          font-size: 54px;
          margin: 0;
          text-align: center;

          @media(max-width: 1050px) {
            font-size: 40px;
          }
        }
      }

      .averageScore {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        background-color: $black;
        row-gap: 10px;
        border-radius: 10px;
        padding: 20px;

        @media(max-width: 800px) {
          width: 100%;
        }
  
        >h2 {
          font-size: 24px;
          text-align: center;
          margin: 0;

          @media(max-width: 1050px) {
            font-size: 18px;
          }
        }
  
        >h3 {
          color: $violet;
          font-size: 54px;
          margin: 0;
          text-align: center;

          @media(max-width: 1050px) {
            font-size: 40px;
          }
        }
      }
    }
  }
}