@import '../../../styles/variables.scss';

.container {
  width: 100%;
  padding-bottom: 40px;

  @media(max-width: 650px) {
    width: 650px;
  }

  @media(max-width: 600px) {
    width: 100%;
  }

  @media(max-width: 460px) {
    width: 460px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 100%;
  }

  @media(max-width: 380px) {
    width: 380px;
  }
}

.containerWhite {
  background-color: $beige;
}

.containerBlack {
  background-color: $black;
}