@import '../../../styles/variables.scss';

.textArea {
  padding: 10px 12px;
  width: 100%;
  outline: none;
  resize: none;
  outline-offset: 0;
  background-color: black;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  border-bottom: 2px solid $pink;
  color: white;

  &::-webkit-scrollbar {
    background-color: white;
    width: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $pink;
    width: 8px;
  }
}

.textArea:focus {
  border-bottom: 2px solid white;
}

.textArea:hover {
  background-color: #333333;
  border-bottom: 2px solid white;
}

.textArea::placeholder {
  color: grey;
}