@import '../../../../styles/variables.scss';

.ourProgram {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
  max-width: 1440px;
  color: white;
  margin-bottom: 50px;

  @media(max-width: $tabletWidth) {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  @media(max-width: 800px) {
    width: 640px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  @media(max-width: 600px) {
    width: 460px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 380px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 50px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 46px;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 1000px;
  
      @media(max-width: 1300px) {
        font-size: 46px;
      }
  
      @media(max-width: 1250px) {
        font-size: 38px;
        max-width: 900px;
      }
  
      @media(max-width: 1050px) {
        font-size: 34px;
        max-width: 800px;
      }
  
      @media(max-width: $tabletWidth) {
        font-size: 40px;
        max-width: 100%;
      }
  
      @media(max-width: 600px) {
        font-size: 28px;
      }
    }
  
    .description {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 20px;
      max-width: 650px;
  
      @media(max-width: 1050px) {
        font-size: 26px;
        max-width: 540px;
      }
  
      @media(max-width: $tabletWidth) {
        font-size: 30px;
        max-width: 665px;
      }
  
      @media(max-width: 800px) {
      }
  
      @media(max-width: 600px) {
        font-size: 22px;
        max-width: 485px;
      }
  
      @media(max-width: $mobileOnlyWidth) {
        font-size: 18px;
      }
    }
  
    .btn {
      width: 360px;
      height: 80px;
      font-size: 36px;
  
      @media(max-width: 1300px) {
        width: 330px;
        font-size: 32px;
        height: 70px;
      }
  
      @media(max-width: 1250px) {
        width: 300px;
        font-size: 28px;
        height: 60px;
      }
  
      @media(max-width: 1050px) {
        width: 285px;
        font-size: 26px;
        height: 55px;
      }
  
      @media(max-width: $tabletWidth) {
        width: 330px;
        font-size: 32px;
        height: 70px;
      }
  
      @media(max-width: 800px) {
        width: 100%;
      }
  
      @media(max-width: $mobileOnlyWidth) {
        font-size: 26px;
      }
    }
  }

  .spinnerProgram {
    width: 350px;
    height: 350px;

    @media(max-width: 950px) {
      display: none;
    }    
  }
}