@import '../../../styles/variables.scss';

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    padding-top: 10px;
    max-width: 1440px;
    color: white;

    @media(max-width: $tabletWidth) {
      flex-direction: column;
      padding: 0;
      padding-top: 10px;
      position: fixed;
      z-index: 200;
      background-color: $blackBackground;
      top: 0;
      left: 0;
      right: 0;
    }
  
    @media(max-width: 650px) {
      width: 650px;
    }
  
    @media(max-width: 600px) {
      width: 100%;
    }
  
    @media(max-width: 460px) {
      width: 460px;
    }
  
    @media(max-width: $mobileOnlyWidth) {
      width: 100%;
    }
  
    @media(max-width: 380px) {
      width: 380px;
    }
}