@import '../../../../styles/variables.scss';

.topicTest {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1440px;
  color: white;
  margin-bottom: 50px;
  min-height: 450px;

  @media(max-width: 1050px) {
    min-height: 400px;
  }

  @media(max-width: $tabletWidth) {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 50px;
    padding-top: 130px;
  }

  @media(max-width: 800px) {
    width: 640px;
  }

  @media(max-width: 600px) {
    width: 460px;
    min-height: 460px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 380px;
    padding: 0 10px;
  }

  .header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    column-gap: 30px;

    @media(max-width: 800px) {
      flex-direction: column;
    }

    .title {
      font-size: 50px;

      @media(max-width: 1050px) {
        font-size: 40px;
      }

      @media(max-width: 600px) {
        font-size: 30px;
      }

      @media(max-width: $mobileOnlyWidth) {
        font-size: 26px;
      }
    }

    .numberTest {
      font-size: 40px;
      min-width: 150px;
      margin-top: 8px;

      @media(max-width: 1050px) {
        font-size: 34px;
      }

      @media(max-width: 600px) {
        font-size: 30px;
        min-width: 100px;
      }
    }
  }

  .contentTest {
    display: flex;
    flex-direction: column;

    .questions {
      font-size: 40px;
      text-align: center;

      @media(max-width: 1050px) {
        font-size: 34px;
      }

      @media(max-width: 600px) {
        font-size: 26px;
      }
    }

    .answersContainer {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-bottom: 40px;
      margin-left: 14%;

      @media(max-width: 1250px) {
        margin-left: 8%;
      }

      @media(max-width: $tabletWidth) {
        margin-left: 0;
      }

      .answer {
        font-size: 30px;

        @media(max-width: 1050px) {
          font-size: 26px;
        }

        @media(max-width: 950px) {
          > p {
            max-width: 90%;
          }
        }

        @media(max-width: 600px) {
          font-size: 22px;

          > p {
            max-width: 86%;
          }
        }
      }
    }

    .containerBtn {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media(max-width: 600px) {
        flex-direction: column;
      }

      .btn {
        height: 60px;
        font-size: 30px;

        @media(max-width: 800px) {
          font-size: 26px;
        }
      }

      .btnBack {

        @media(max-width: 600px) {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .btnNext {
        width: 340px;

        @media(max-width: 800px) {
          width: 300px;
        }

        @media(max-width: 600px) {
          width: 100%;
        }
      }
    }
  }
}