@import '../../../../styles/variables.scss';

.container {
  width: 100%;
  background-color: white;
  padding-bottom: 40px;

  @media(max-width: 650px) {
    width: 650px;
  }

  @media(max-width: 600px) {
    width: 100%;
  }

  @media(max-width: 460px) {
    width: 460px;
  }

  @media(max-width: $mobileOnlyWidth) {
    width: 100%;
  }

  @media(max-width: 380px) {
    width: 380px;
  }

  .paymentCourse {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    max-width: 1440px;

    
    @media(max-width: 1050px) {
      padding-top: 30px;
    }

    @media(max-width: $tabletWidth) {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 20px;
      padding-top: 40px;
    }

    @media(max-width: 800px) {
      width: 640px;
      margin: 0 auto;
      padding: 0 20px;
      padding-top: 30px;
    }

    @media(max-width: 600px) {
      width: 460px;
      margin: 0 auto;
      padding: 0 20px;
      padding-top: 30px;
    }

    @media(max-width: $mobileOnlyWidth) {
      width: 380px;
      margin: 0 auto;
      padding: 0 10px;
      padding-top: 40px;
    }
    
    .title {
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 20px;
  
      @media(max-width: 1300px) {
        font-size: 48px;
      }
  
      @media(max-width: 1250px) {
        font-size: 40px;
      }
  
      @media(max-width: 1050px) {
        font-size: 36px;
      }
  
      @media(max-width: $tabletWidth) {
        font-size: 42px;
        width: 550px;
      }
  
      @media(max-width: 600px) {
        font-size: 30px;
        width: 390px;
      }

      @media(max-width: $mobileOnlyWidth) {
        font-size: 28px;
        width: 360px;
      }
    }

    .containerPrice {
      position: relative;


      .price {
        display: inline-block;
        font-size: 250px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 50px;
        width: 540px;
    
        @media(max-width: 1300px) {
          font-size: 240px;
          width: 530px;
        }
    
        @media(max-width: 1050px) {
          font-size: 220px;
          width: 480px;
        }
    
        @media(max-width: $tabletWidth) {
          font-size: 200px;
          width: 450px;
        }

            
        @media(max-width: 800px) {
          font-size: 180px;
          width: 380px;
          margin-left: 30px;
        }
    
        @media(max-width: 600px) {
          font-size: 125px;
          width: 270px;
          margin-left: 16px;
        }

        @media(max-width: $mobileOnlyWidth) {
          font-size: 100px;
          width: 210px;
          margin-left: 10px;
        }
      }

      .clarification {
        font-size: 54px;

        @media(max-width: 1300px) {
          font-size: 48px;
        }
    
        @media(max-width: 1050px) {
          font-size: 40px;
        }
    
        @media(max-width: $tabletWidth) {
          font-size: 42px;
        }
    
        @media(max-width: 600px) {
          font-size: 30px;
        }
      }

      .priceNoDiscount {
        display: block;
        position: absolute;
        font-size: 54px;
        font-weight: 900;
        top: 50px;
        left: 670px;

        &::before {
          content: '';
          width: 100%;
          height: 6px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%) rotate(-15deg);
          background-color: $red;

          @media(max-width: 800px) {
            height: 4px;
          }
        }

        @media(max-width: 1300px) {
          font-size: 48px;
          left: 655px;
        }
    
        @media(max-width: 1050px) {
          font-size: 40px;
          left: 560px;
        }
    
        @media(max-width: 800px) {
          font-size: 34px;
          left: 495px;
        }
    
        @media(max-width: 600px) {
          font-size: 30px;
          left: 332px;
          top: 25px;
        }

        @media(max-width: $mobileOnlyWidth) {
          font-size: 30px;
          left: 266px;
          top: 20px;
        }
      }
    }

    .btn {
      width: 360px;
      height: 80px;
      font-size: 36px;
  
      @media(max-width: 1300px) {
        width: 330px;
        font-size: 32px;
        height: 70px;
      }
  
      @media(max-width: 1250px) {
        width: 300px;
        font-size: 28px;
        height: 60px;
      }
  
      @media(max-width: 1050px) {
        width: 285px;
        font-size: 26px;
        height: 55px;
      }
  
      @media(max-width: $tabletWidth) {
        width: 330px;
        font-size: 32px;
        height: 70px;
      }
  
      @media(max-width: 800px) {
        width: 100%;
      }
  
      @media(max-width: $mobileOnlyWidth) {
        font-size: 26px;
      }
    }
  }
}